:root {
  font-size: 62.5%;
  /*  Fonts */

  /* 500, 700 */
  --raleway: "Raleway", sans-serif;

  /* 700 */
  --montserrat: "";
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--raleway);
}

header {
  display: flex;
  justify-content: flex-end;
  /* outline: 1px solid #ff0000; */
  padding: 3.1rem 6.94% 0 6.94%;
}

header div {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.16rem;
  color: #4f4f4f;
  /* outline: 1px solid red; */
  background-color: rgb(233, 233, 233);
  display: flex;
  align-items: center;
  cursor: pointer;
}
header .random-btn:hover {
  background-color: #333333;
  color: #f2f2f2;
}
header div:hover .random-icon {
  animation: loading 1.5s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(-0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

header div .random-icon {
  margin-left: 1.1rem;
}
header .theme-btn {
  /* outline: 1px solid red; */
  margin-left: 1rem;
  padding: 0 1rem;
}
header .theme-btn:hover {
  background-color: #333333;
  color: #f2f2f2;
}

main {
  /* outline: 1px solid red; */
  margin: 0 auto;
  margin-top: 22.7rem;
  /* width: fit-content; */
  /* width: 72.2rem; */
  width: 49.5%;
  display: flex;
  flex-direction: column;
}

main .quote {
  /* outline: 1px solid red; */
  border-left: 0.8rem solid #f7df94;
  margin-bottom: 10.9rem;
  /* padding-left: 9.9rem; */
  padding-left: 13.7%;
}

main .quote p {
  font-size: 3.6rem;
  line-height: 4.32rem;
  text-align: left;
  font-weight: 500;
}
main .allquotes .author {
  /* outline: 1px solid red; */
  text-decoration: underline;
  font-size: 4rem;
  padding: 2rem;
}

main .person {
  /* outline: 1px solid red; */
  height: 15.1rem;
  width: 67.2rem;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333333;
  padding-left: 2.9rem;
  padding-right: 3.9rem;
  cursor: pointer;
}
main .person:hover {
  background-color: #333333;
  color: #f2f2f2;
}

main .person div:first-child .name {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.818rem;
}

main .person div:first-child .about {
  color: #828282;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.644rem;
  margin-top: 0.8rem;
}

/*******************/
/* Media Queries */
/*******************/
@media (max-width: 1024px) {
  main .quote {
    /* padding-left: 4rem; */
  }
  main .quote p {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

@media (max-width: 800px) {
  main .quote p {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
