/* Dark */
.dark {
  /* background-color: #828282; */
  background-color: rgb(233, 233, 233);
}
.dark header div {
  background-color: #333333;
  color: #f2f2f2;
}
.dark header .random-btn:hover {
  background-color: rgb(233, 233, 233);
  color: #4f4f4f;
}
.dark header .theme-btn:hover {
  background-color: rgb(233, 233, 233);
  color: #4f4f4f;
}
.dark main .person {
  /* color: #333333; */
  background-color: #333333;
  color: #f2f2f2;
}
/* .dark main .person:hover {
} */
.dark main .person div:first-child .about {
  color: #828282;
}

/* Light */
.light {
  background-color: #f2f2f2;
}
.light header div {
  color: #4f4f4f;
  background-color: rgb(233, 233, 233);
}
.light header .random-btn:hover {
  background-color: #333333;
  color: #f2f2f2;
}
.light header .theme-btn:hover {
  background-color: #333333;
  color: #f2f2f2;
}
.light main .person {
  color: #333333;
}
.light main .person:hover {
  background-color: #333333;
  color: #f2f2f2;
}
.light main .person div:first-child .about {
  color: #828282;
}
